head
	script(src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript", src="/javascripts/members/mypage.js")

body
	block content
slfjslsdjfsjlgjsog[g opspf s fsjfjsd fsdp sfopj]
		p Welcome to #{title}


