head
	script(src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript", src="/javascripts/members/mypage.js")

body
	block content
		p Welcome to #{title}
		h3 this is test page
		h4 wow good job
		ht ok


