<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>엠티를 부탁해</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../public/css/theme.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../public/img/mtlogo-navbar-header.png" alt="fail to load the image" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <img src="../public/img/search.png" alt="fail to load the image" />
                            <sub>검색</sub>
                        </a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">
                            <img src="../public/img/compare.png" alt="fail to load the image" />
                            <sub>비교 페이지</sub>
                        </a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">
                            <img src="../public/img/mypage.png" alt="fail to load the image" />
                            <sub>마이 페이지</sub>
                        </a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#">
                            <sub>로그인</sub>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" role="main">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12"><h2>우리는</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">어디<span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">대성리</a></li>
                            <li><a href="#">청평</a></li>
                            <li><a href="#">가평</a></li>
                        </ul>
                    </div>
                    <h2>으로</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><input type="text" /><h2>명이</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12">calender <h2>일에</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12"><h2>엠티간다!!</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-lg btn-info">&nbsp; &nbsp;엠티를 부탁해!&nbsp; &nbsp;</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>