@font-face {
            font-family: 1HoonSaemaulundong;
            src: url('font/R.ttf');
        }
        * {
            font-family: 1HoonSaemaulundong;
        }
        body {
            padding-top: 150px;
            padding-bottom: 20px;
        }
        .nav,
        .navbar-search {
            padding-top: 3px;
        }
        .search-panel {
            position: relative;
            height: 609px;
        }

        .search-panel-image {
            width: 516px;
            height: 333px;
            left: 50%;
            top: 30%;
            margin-left: -258px;
            position: absolute;
        }

        .main-query {
            left: 55%;
            top: 55%;
            width: 490px;
            margin-left: -245px;
            position: absolute;
        }

        #query-text {
            font-size: xx-large;
            color: white;
            display: inline;
            vertical-align: middle;
        }

        .main-query > .dropdown {
            font-size: xx-large;
            color: white;
            display: inline;
            vertical-align: middle;
        }
        .dropdown-menu {
            font-size: x-large;
        }
        .arrow-image {
            display: inline;
            padding-left: 100px; 
        }