head
	script(src="//code.jquery.com/jquery-1.11.0.min.js")

body
	block content
		h1= title
		p Welcome to #{title}
		hr
		hr
		form(action='/pensions/pensions_search_list_test', method='get' accept-charset="utf-8") 
			table
				tr
					td
						| 지역
					td
						input(type='text', name='region')
				tr
					td
						| 인원
					td
						input(type='text', name='people')
			input(type='submit', value ='submit')
